.simpoMapsGoogleCanvas{width:95%;height:300px;margin:10px;}
.rcbcShortlist ul{margin:0px;padding:0px;list-style-type:none;}.rcbcShortlist ul li{margin-top:5px;margin-bottom:5px;padding-bottom:10px;padding-top:10px;background-image:url("/pin.nsf/dotted-line.gif");background-position:left top;background-repeat:repeat-x;}
