@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'dunkin';
  src: url('/pin.nsf/fonts/dunkin/dunkin_sans-webfont.eot');
  src: url('/pin.nsf/fonts/dunkin/dunkin_sans-webfont.eot?#iefix') format('embedded-opentype'), url('/pin.nsf/fonts/dunkin/dunkin_sans-webfont.woff') format('woff'), url('/pin.nsf/fonts/dunkin/dunkin_sans-webfont.ttf') format('truetype'), url('/pin.nsf/fonts/dunkin_sans-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.zeroSurounds {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px 0px 0px 5px;
  padding: 0px;
  text-align: left;
  background-color: #efefef;
  font-family: Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 1.2em;
}
.main {
  width: 956px;
  margin: 10px auto 10px;
  text-align: left;
  overflow: visible;
  height: auto;
  background-color: #ffffff;
}
body > div > header {
  display: block;
  clear: both;
  width: 956px;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  background-image: url("/pin.nsf/dotted-line.gif");
  background-position: left bottom;
  background-repeat: repeat-x;
  /*****************************Tabs********************************/

}
body > div > header .logo {
  float: left;
}
body > div > header .col2 {
  float: right;
  width: 644px;
  text-align: center;
}
body > div > header .col2 form {
	display: block;
  background-color: #efefef;
  padding: 10px;
  margin: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  -moz-border-radius-bottomright: 30px;
}
body > div > header .col2 form fieldset {
  background-color: #eaeaea;
  border: none;
  padding: 20px 5px 20px 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  -moz-border-radius-bottomright: 30px;
}
body > div > header .col2 form fieldset .dijitTextBox {
  width: 200px;
  height: 25px;
  border: 2px solid #ee499b;
}
body > div > header .col2 form fieldset .dijitButtonNode, body > div > header .col2 form fieldset .dijitButtonNode:hover {
  color: #ffffff !important;
  font-weight: bold !important;
  border: 2px solid #bf1268 !important;
}
body > div > header ul.tabs {
  margin: 0px;
  padding: 0px;
  border: 0px;
  float: left;
  clear: both;
  padding-top: 10px;
  text-transform: uppercase;
  padding-left: 10px;
  list-style: none;
  display: inline-block;
}
body > div > header ul.tabs li.adults-on a, body > div > header ul.tabs li.adults a {
  float: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  padding: 10px 20px 0px 20px;
  height: 38px;
  font: 1.4em "dunkin", Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  margin-right: 2px;
  text-decoration: none;
  background-color: #ee499b;
}
body > div > header ul.tabs li.families-on a, body > div > header ul.tabs li.families a {
  float: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  padding: 10px 20px 0px 20px;
  height: 38px;
  font: 1.4em "dunkin", Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  margin-right: 2px;
  text-decoration: none;
  background-color: #bcd411;
}
body > div > header ul.tabs li.shortlist-on a, body > div > header ul.tabs li.shortlist a {
  float: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  padding: 10px 20px 0px 20px;
  height: 38px;
  font: 1.4em "dunkin", Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  margin-right: 2px;
  text-decoration: none;
  background-color: #dddddd;
}
body > div > header ul.tabs li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline-block;
}
body > div > header ul.tabs li a:hover {
  float: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  padding: 10px 20px 0px 20px;
  height: 38px;
  font: 1.4em "dunkin", Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  margin-right: 2px;
  text-decoration: none;
  background-color: #c0c0c0;
}
body > div > article {
  height: auto;
  clear: both;
  background-image: url("/pin.nsf/dotted-line.gif");
  background-position: left bottom;
  background-repeat: repeat-x;
  padding: 10px;
}
body > div > article aside {
  width: 25%;
  float: left;
  padding-right: 10px;
  height: auto;
  display: block;
}
body > div > article aside ul.sideMenu {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
}
body > div > article aside ul.sideMenu li {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body > div > article aside ul.sideMenu a {
  font-size: 1.1em;
  display: block;
  padding: 2px 0px 0px 10px;
  width: 100%;
  height: 29px;
  text-decoration: none;
  margin: 0px 0px 8px 8px;
  color: #ffffff;
}
body > div > article aside ul.sideMenu a:hover {
  text-decoration: underline;
}
body > div > article ul.family-services li.activities-events a {
  background-color: #02a5ac;
}
body > div > article ul.family-services li.health a {
  background-color: #ff7f00;
}
body > div > article ul.family-services li.home-family a {
  background-color: #ceecf4;
}
body > div > article ul.family-services li.learning-training a {
  background-color: #ffcc00;
}
body > div > article ul.family-services li.leisure a {
  background-color: #ff1400;
}
body > div > article ul.family-services li.me a {
  background-color: #008cfb;
}
body > div > article ul.family-services li.work-money a {
  background-color: #6a4588;
}
body > div > article ul.adult-services li.about-care a {
  background-color: #d776f9;
}
body > div > article ul.adult-services li.leisure a {
  background-color: #ffcc00;
}
body > div > article ul.adult-services li.health-wellbeing a {
  background-color: #1656da;
}
body > div > article ul.adult-services li.money-benefits a {
  background-color: #acb811;
}
body > div > article ul.adult-services li.training-employment a {
  background-color: #ea9d45;
}
body > div > article ul.adult-services li.housing-property a {
  background-color: #c1132e;
}
body > div > article ul.adult-services li.help-to-live-at-home a {
  background-color: #062d6e;
}
body > div > article ul.adult-services li.transport a {
  background-color: #0bc6cd;
}
body > div > article table.standard {
  width: 96%;
}
body > div > article table.standard th, body > div > article table.standard td {
  vertical-align: top;
}
body > div > article table.standard th.middle, body > div > article table.standard td.middle {
  vertical-align: middle;
}
body > div > article table.standard thead tr th, body > div > article table.standard thead tr td {
  vertical-align: bottom;
}
body > div > article .articleContent {
  width: 70%;
  float: right;
}
body > div > article .articleContent-wide {
  width: 96%;
}
body > div > article .articleContent, body > div > article .articleContent-wide {
  font-size: 1.0em;
}
body > div > article .articleContent h1,
body > div > article .articleContent-wide h1,
body > div > article .articleContent h2,
body > div > article .articleContent-wide h2,
body > div > article .articleContent h3,
body > div > article .articleContent-wide h3,
body > div > article .articleContent h4,
body > div > article .articleContent-wide h4,
body > div > article .articleContent h5,
body > div > article .articleContent-wide h5,
body > div > article .articleContent h6,
body > div > article .articleContent-wide h6 {
  color: #ee499b;
}
body > div > article .articleContent h1, body > div > article .articleContent-wide h1 {
  font-size: 1.2em;
}
body > div > article .articleContent h2, body > div > article .articleContent-wide h2 {
  font-size: 1.1em;
}
body > div > article .articleContent h3, body > div > article .articleContent-wide h3 {
  font-size: 1.0em;
}
body > div > article .articleContent .indent, body > div > article .articleContent-wide .indent {
  margin-left: 20px;
}
body > div > article .articleContent ul.sectionMenu, body > div > article .articleContent-wide ul.sectionMenu {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  display: block;
  color: #ffffff;
  font-family: "dunkin", Tahoma, sans-serif;
  text-transform: uppercase;
}
body > div > article .articleContent ul.sectionMenu li, body > div > article .articleContent-wide ul.sectionMenu li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  float: left;
}
body > div > article .articleContent ul.sectionMenu li a, body > div > article .articleContent-wide ul.sectionMenu li a {
  color: #ffffff;
  width: 180px;
  height: 108px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-bottomleft: 40px;
  -moz-border-radius-bottomright: 40px;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  padding-top: 20px;
  font-size: 1.4em;
}
body > div > article .contactTable,
body > div > article .accessTable,
body > div > article .serviceHoursTable,
body > div > article .costTable {
  width: 513px;
  font-size: 0.9em;
  border-collapse: collapse;
}
body > div > article .contactTable th,
body > div > article .accessTable th,
body > div > article .serviceHoursTable th,
body > div > article .costTable th {
  width: 25%;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
body > div > article .contactTable td,
body > div > article .accessTable td,
body > div > article .serviceHoursTable td,
body > div > article .costTable td {
  border-bottom: 1px solid #000000;
}
body > div > article .contactTable td,
body > div > article .accessTable td,
body > div > article .serviceHoursTable td,
body > div > article .costTable td,
body > div > article .contactTable th,
body > div > article .accessTable th,
body > div > article .serviceHoursTable th,
body > div > article .costTable th {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}
body > div > article .contactTable td.last,
body > div > article .accessTable td.last,
body > div > article .serviceHoursTable td.last,
body > div > article .costTable td.last,
body > div > article .contactTable th.last,
body > div > article .accessTable th.last,
body > div > article .serviceHoursTable th.last,
body > div > article .costTable th.last {
  border-bottom: none;
}
body > div > article .p65 {
  width: 65%;
}
body > div > article .p85 {
  width: 85%;
}
/*****************************Footer********************************/
body > div > footer {
  clear: both;
  background-image: url("/pin.nsf/footer-bg.gif");
  text-align: left;
  width: 956px;
  margin: 0px auto;
  overflow: visible;
}
body > div > footer .col1 {
  float: left;
  width: 250px;
  padding: 10px 10px 10px 30px;
  text-align: center;
}
body > div > footer .col2 {
  width: 540px;
  padding: 20px 5px 10px 10px;
  background-image: url("/pin.nsf/house.png");
  background-repeat: no-repeat;
  float: right;
}
body > div > footer .col2 ul.pointer {
  padding-top: 40px;
  color: #ee499b;
}
body > div > footer .col2 ul.pointer a {
  color: #ee499b;
  text-decoration: none;
}
body > div > footer .col2 ul.pointer a:hover {
  color: #f278b5;
}
body > div > footer .bottom {
  clear: both;
  background-color: #c0c0c0;
  text-align: left;
  width: 946px;
  margin: 0px auto;
  overflow: visible;
  height: auto;
  padding: 5px 0px 5px 10px;
  font-size: 0.70em;
  color: #ee499b;
}
body > div > footer .bottom a {
  color: #ee499b;
  text-decoration: none;
}
body > div > footer .bottom a:hover {
  color: #f278b5;
}
body > div > footer .bottom a.copyFooter {
  text-transform: uppercase;
}
/*****************************Styles********************************/
ul.pointer {
  list-style-image: url("/pin.nsf/pointer.png");
  text-indent: 5px;
  list-style-position: outside;
  list-style-type: square;
  padding: 10px;
  margin: 2px;
  line-height: 22px;
}
.tab {
  font-family: Tahoma, sans-serif;
  font-size: 0.90em;
  color: #ffffff;
  text-decoration: none;
}
.mainfooter2 {
  font-family: Tahoma, sans-serif;
  font-size: 0.85em;
  color: #c62877;
  text-decoration: none;
}
a.mainfooter:hover {
  color: #000000;
  text-decoration: underline;
}
.sml {
  font-size: 0.70em;
}
.header {
  font-family: "dunkin", Tahoma, sans-serif;
  font-size: 2.6em;
  color: #ee499b;
  text-transform: uppercase;
}
.title1 {
  font-family: "dunkin", Tahoma, sans-serif;
  font-size: 1.5em;
  color: #ee499b;
}
table.standard {
  width: 96%;
  border-collapse: collapse;
}
table.standard th, table.standard td {
  text-align: left;
  font-size: 0.9em;
  vertical-align: top;
  padding: 3.3333333333333335px;
}
table.standard td.l, table.standard th.l {
  border-left: 1px solid #c0c0c0;
}
table.standard td.t, table.standard th.t {
  border-top: 1px solid #c0c0c0;
}
table.standard td.r, table.standard th.r {
  border-right: 1px solid #c0c0c0;
}
table.standard td.b, table.standard th.b {
  border-bottom: 1px solid #c0c0c0;
}
.p10 {
  width: 10% !important;
}
.p20 {
  width: 20% !important;
}
.p30 {
  width: 30% !important;
}
.p40 {
  width: 40% !important;
}
.p50 {
  width: 50% !important;
}
.p60 {
  width: 60% !important;
}
.p70 {
  width: 70% !important;
}
.p80 {
  width: 80% !important;
}
.p90 {
  width: 90% !important;
}
hr {
  border: none;
  height: 5px;
  width: 96%;
  background-image: url("/pin.nsf/dotted-line.gif");
  background-position: left bottom;
  background-repeat: repeat-x;
}
